
.navbar {
  background-color:rgb(41, 50, 65);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  color: rgb(240, 229, 229);
  padding-top: 1px
  

}

.navbar-brand:hover {
  color: rgb(255, 255, 255);
}






.container {
  margin-top: 200px;
}


body {
  padding: 0px;
  margin: 0px;
}

#map,
body,
html {
  width: 1400px;
  height: 500px;
}
